
<div class="text-center">
    <h1 class="display-4 mb-5">Welcome</h1>

    <div class="bg-white box-shadow index-list rounded">
        <p class="leader">Login or register a new user</p>
        <div class="container">
            <div class="p-2">
                <a asp-action="Login" asp-controller="User" class="btn btn-light center-block col-md-3">Login</a>
            </div>
            <div class="p-2">
                <a asp-action="Create" asp-controller="User" class="btn btn-light center-block col-md-3">Register</a>
            </div>
        </div>
    </div>
</div>
